body{
    background-color:#d2ff9e;
    padding: 20px;
}
h1{
    font-family: "times new roman";
    font-size: 50px;
    color: rgb(21, 176, 21);
    text-align: center;
}

table {
    align-items: center;
}
td img{
    width: auto;
    height: 50px;
}
caption{
    display: none;
}
th {
    background-color: rgb(7, 126, 7);
    color: white;
    font-size: large;
}
td{
    padding-left:5px;
    width:250px;
    height: 70px;
    font-size: 25px;
    border-bottom: 10px;
    border-bottom-color: #d2ff9e;
    border-bottom-style: solid;


}
tr{
    margin-top: 15px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #FFFFFF;
}
th:nth-child(1){
    background-color: #d2ff9e;
    
}
td:nth-child(1){
 background-color: #d2ff9e;
 text-align: right;
 padding-right: 10px;
 width: 100px; ;
}
td:nth-child(3){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bolder;
}